@import url('https://fonts.googleapis.com/css?family=Roboto|Work+Sans');

html {
  height: 100%;
  padding: 0;
  margin: 0
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

nav .btn:first-of-type {
  margin-right: 10px;
}

.brand {
  font-size: 32px;
  margin-right: auto;
  font-family: 'Work Sans', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  background: url('https://images.pexels.com/photos/297642/pexels-photo-297642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') top center/cover no-repeat;
}

.form-wrapper {
  background: white;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.btn {
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all .2s;
}

.black {
  border: 2px solid black;
  color: black;
}

.black:hover {
  background: black;
  color: white;
}

.blue {
  border: 2px solid cornflowerblue;
  color: cornflowerblue;
}

.blue:hover {
  background: cornflowerblue;
  color: white;
}















form {
  margin-bottom: 20px;
}
iframe {
  position: fixed;
  border: none;
  top: 0;
  bottom: 0;
  left: 2;
  right: 0;
  width: 80%;
  height: 100%;
  z-index: -1;
}
.column-left {
  width: 20%;
  border: none;
  position: fixed;
  right: 3;
  margin-left: -10px;
}
